/* *{  
    margin: 0;
    padding: 0; 
    
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins;
  color: #343a40;
}
.fo-700 {
  font-weight: 700;
}
.m-auto-line {
  margin-inline: auto;
}
.mx-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.h1c {
  font-size: 40px;
  text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}
.h3c {
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
}
.heroku {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 64px;
  /* background-color: #FEF5AC; */
  /* color: #4C0033; */
}
.img-container {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.text-container {
  justify-content: center;
  display: iniline-block;
  text-align: center;
}
.a28p-x {
  font-size: 28px;
}
.conter {
  width: 250px;
  height: 250px;
  border: 1px solid #e26123;
  border-radius: 100%;
}
.h3v {
  font-size: 32px;
}
.sect2 {
  padding: 20px;
  text-align: center;
}
.twer {
  max-width: 768px;
  font-size: 25px;
  color: #313131;
}
.sect3bloc {
  display: flex;
  margin-inline: auto;
  justify-content: center;
  margin-bottom: 40px;
}
.boxed {
  width: 445px;
  height: 258px;
  border: 1px solid #cccccc;
  border-radius: 36px;
  /* background-color: aqua; */
  margin-inline: 16px;
  padding-inline: 24px;
  padding-bottom: 25px;
  font-weight: 600;
  background-color:white;
}
.boxed p {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
}
.boxed li {
  font-size: 18px;
  margin-bottom: 4px;
  color: #313131;
}
.navbing {
  width: 100%;
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: aqua;
}

.repos-place {
  font-color: #0d6efd;
  font-weight: bold;
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.linker {
  font-size: 20px;
}

.titik2 {
  z-index: -5;
  position: absolute;
  width: 187px;
  height: 180px;
  left: 1185px;
  top: 757px;
}
.titik {
  z-index: -4;
  position: absolute;
  width: 112px;
  height: 110px;
  left: 133px;
  top: 122px;
}
